
.tasksContainer{
    border-radius: var(--radius--);

    width: 100%;
    
    padding: var(--padding--);
}

.task {

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: var(--radius--);
    border: var(--border--);
    margin: var(--margin--);

    font-family: 'dosis-normal';
    
    width: 780px
}

.task > * {
    padding: var(--padding--);
    padding-inline: 1rem;
}

.task .info {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
}

.task h2 {
    text-align: left;
}

.task .btns button{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: var(--border--);
    border-radius: var(--radius--);

    width: 70px;
    padding: var(--padding--);
    margin: var(--margin--);

}


.tasksModifier {

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'bold';

    padding: var(--padding--);
    margin: var(--margin--);

    border-radius: var(--radius--);
}

.tasksModifier * {
    margin: var(--margin--);
}

.tasksModifier button {
    
    border: var(--border--);
    border-radius: var(--radius--);
    
    padding: var(--padding--);
}

.tasksModifier input {
    border-radius: var(--radius--);
    border: var(--border--);

    width: 35%;
}

.editing {
    display: flex;
    flex-direction: column;
}

.editing * {
    border:  none;
    background: none;
}

.editing .title {
    font-family: 'bold';
    font-weight: 500;
    font-size: 1.5rem;
}


#noTask {
    padding: 30px 0px;
}

#saveBtn:hover,#editBtn:hover {
    background-color: green;
    border-color: green;

    color: white;
}

#cancelBtn:hover,#delBtn:hover {
    background-color: red;
    border-color: red;
    
    color: white;
}

#createTaskBtn:hover{
    background-color: var(--main--);
    border-color: var(--main--);
    
    color: white; 
}

