*{
    margin: 0px;

    text-align: center;
}

.App > *{
    margin: 10px;
}

#hero {
    justify-self: flex-start;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background: none;
    border: none;
}
