*{
    margin: 0px;
    text-align: center;
}

h1,h2{
    font-family: 'bold';
}

h3,h4{
    font-family: 'normal';
}

.App > *{
    margin: var(--margin--);
}

#hero {
    justify-self: flex-start;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh;
}

button {
    background: none;
    border: none;
}
