

@font-face {
  font-family: 'dosis-bold';
  src: url(/public/fonts/dosis.ttf);
}

@font-face {
  font-family: 'dosis-normal';
  src: url(/public/fonts/Dosis-Medium.ttf);
}

:root{

    --darkBlue-- : #183661;
    --blue--: #1C4B82 ;
    --orange--: #DD6B4D;
    --white--: #DAE1E7;


}

body {
  font-family: 'dosis-bold';
  background-color: var(--white--);
}

button:hover{
  transition: .2s ease-out;
  filter: brightness(110%) saturate(110%);
}

#orange{
  color: var(--orange--);
}
#darkBlue {
  color: var(--darkBlue--);
}
#blue{
  color: var(--blue--);
}