

@font-face {
  font-family: 'bold';
  src: url(/public/fonts/dosis.ttf);
}

@font-face {
  font-family: 'medium';
  src: url(/public/fonts/Dosis-Medium.ttf);
}

@font-face {
  font-family: 'light';
  src: url(/public/fonts/Dosis-Medium.ttf);
}

:root{

    --main-- : #192965;
    --shade--: #7FB5FF ;
    --white-- : #F0EFEF;

    --border-- : solid .15rem var(--main--);
    --radius-- : .4rem;

    --padding--: .4rem;
    --margin--: .2rem;

  }

body {
  font-family: 'dosis-bold';
  background-color: var(--white--);
}

button:hover{
  transition: .2s ease-out;
  filter: brightness(110%) saturate(110%);
}

.main{
  color: var(--main--);
}
.shade{
  color: var(--shade--)
}
.white{
  color: var(--white--);
}